@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,400;0,600;1,400;1,600&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* --- police --- */
.book.font-family-1 {
  font-family: 'Lato', sans-serif;
}

.summary {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', serif;
}

/* --- couleur des liens --- */
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #157f8e;
}

/* --- couleur quand on survole les liens --- */
.summary a:hover {
  color: #3ea2aad9 !important;
}

/* --- apparence liens actifs dans table of contents --- */
.book .book-summary ul.summary li.active>a {
  /*active TOC links*/
  color: #379fa7 !important;
  border-left: solid 4px;
  border-color: #379fa7;
  padding-left: 11px !important;
}


li.appendix span,
li.part span {
  /* for TOC part names */
  margin-top: 1em;
  color: #000000;
  opacity: .9 !important;
  /*text-transform: uppercase;*/
}

.book .book-summary {
  border-right: none;
}

/* --------------Two columns--------------- */

.col2 {
  columns: 2 200px;
  /* number of columns and width in pixels*/
  -webkit-columns: 2 200px;
  /* chrome, safari */
  -moz-columns: 2 200px;
  /* firefox */
}


.side-by-side {
  display: flex;
}

.side1 {
  width: 40%;
}

.side2 {
  width: 58%;
  margin-left: 1rem;
}

/* --------------Even split- two columns--------------- */

.split {
  display: flex;
}

.split1 {
  width: 50%;
  padding-right: 20px;
}

.split2 {
  width: 50%;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary>li:first-child {
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.book .book-summary ul.summary li.divider {
  height: 0px;
}

/* format titre h1 pour que ça POP OUT BRUV */
.book .book-body .page-wrapper .page-inner section.normal h1:not(.title, .h1-rmd) {
  color: #379fa7;
  border-left: solid 7px;
  border-color: #379fa7;
  padding-left: 11px !important;
}
